<p align="center">Made by <code>0x<i>bro</i></code> with ❤️</p><br>
<p align="center" class="text-small text-grey-dk-100 mb-0">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />
This work is licensed <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.</a><br>
Copyright &copy; 2019-2023 Mattia <i>0xbro</i> Brollo<br>
<a href="{{site.url}}/feed/articles.xml"><svg class="icon-rss-color" width="15" height="9"><use xlink:href="#icon-rss-color"></use></svg>Articles feed</a><br>
<a href="{{site.url}}/feed/disclosures.xml"><svg class="icon-rss-color" width="15" height="9"><use xlink:href="#icon-rss-color"></use></svg>Disclosures feed</a>
</p>

