<p align="center">Made by <code>0x<i>bro</i></code> with ❤️  </p><br>
<p align="center" class="text-small text-grey-dk-100 mb-0">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />
    This work is licensed <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.</a><br>
    Copyright &copy; 2019-2023 Mattia <i>0xbro</i> Brollo
</p>

{% include support_btn.html %}
